ex2/bin/mesa3d-25.3.0-release-mingw/x64/*.dll
ex2/bin/mesa3d-25.3.0-release-mingw.zip
ex2/bin/mesa3d-25.3.0-release-mingw/
ex2/bin/mesa3d-25.3.0-release-mingw.zip
ex2/bin/mesa3d-25.3.0-release-mingw/
